* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff;
  font-size: 10px;
  padding: 3rem;
}

/* Header */
.app__header {
  border-bottom: 1px solid #a0a0a0;
}

/* App */
.app__grid {
  margin: 0;
  display: grid;
  /* grid-template-columns: 1fr, 2fr; DETTA BITER INTE */
  grid-column-gap: 3rem;
  /* column-gap: 3rem; */
  grid-row-gap: 5rem;
  /* row-gap: 5rem; */
  justify-content: center;
}

/* playlist */
.playlists__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 60px;
}

.playlist__header {
  font-size: 1.6rem; 
}

.playlist__item {
  margin: 2.5rem 0;
}

.playlist__link {
  display: flex;
  justify-content: center;
  width: 100%
}

.playlist__image {
  width: 70%;
}

/* Albums */
.album__gallery-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 2/3;
  grid-row: 1;
  grid-gap: 25px;
  gap: 25px;
}

.albums__wrapper {
  grid-row: 2;
}

/* .album__container {
  
} */

.album__cover {
  position: relative;
  width: 100%;
  margin: 0 0 1rem 0;
}

.album__cover-image {
  width: 100%;
}

.album__cover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: .5s ease;
}

.album__play-icon {
  position: absolute;
  width: 20%;
  fill: #fff;
  top: 38%;
  left: 40%;
  opacity: 0;
  transition: transform .5s ease; 
}

.album__heart-icon,
.album__dots-icon {
  width: 10%;
  position: absolute;
  fill: #fff;
  opacity: 0;
  transition: .5s ease;
}

.album__heart-icon {
  top: 42%;
  left: 14%;
}

.album__dots-icon {
  top: 42%;
  left: 76%;
}

.album__cover:hover 
.album__heart-icon,
.album__play-icon,
.album__dots-icon  {
  opacity: .6;
} 

.album__cover:hover
.album__cover-overlay {
  opacity: 1;
}

.album__play-icon:hover {
  transform: scale(1.2);
  opacity: 1;
}
/* @media (min-width: 768px) {
  .app__grid {
    grid-template-columns: 1fr 5fr;
  }

} */
